############################################
# R / RStudio
############################################

*.Rhistory
*.RData
*.Ruserdata
*.Rproj.user/
*.Rproj

############################################
# R CMD build / check
############################################

*.Rcheck/

############################################
# Compiled code (C++, Rcpp)
############################################

*.o
*.so
*.dll
*.a
*.out
*.exe
glmSTARMA/src/*.o
glmSTARMA/src/*.so
glmSTARMA/src/*.dll



############################################
# Knitr / R Markdown
############################################

*.html
*.docx
*.md~
*_cache/
*_files/
*.knit.md

############################################
# LaTeX
############################################

*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.lof
*.lot
*.bcf
*.run.xml


############################################
# Temporary / Backup files
############################################

*~
*.bak
*.tmp
*.swp
*.swo

############################################
# Operating system
############################################

*.DS_Store
*Thumbs.db




